<div class="footBox">
    <p><img src="assets/img/vuahanghieu.svg"></p>
    <div class="row">
        <div class="col-4">
            <h2>Hỗ trợ</h2>
            <p>Hỗ trợ ship COD toàn quốc</p>
            <p>Mua hàng với nhiều phần quà hấp dẫn</p>
        </div>
        <div class="col-4">
            <h2>Liên hệ</h2>
            <p>01111111111</p>
            <p>Yên Lãng, Láng Hạ, quận Đống Đa, thành phố Hà Nội</p>
        </div>
        <div class="col-4">
            <h2>Chính sách</h2>
            <p>Chính sách bảo mật</p>
            <p>FAQ</p>
            <p>Chính sách bảo hành đổi trả</p>
            <p>Chính sách giao hàng toàn quốc</p>
        </div>
    </div>
</div>