<div class="container">
    <form #formLogin="ngForm">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form-login">
                <h2 class="login-header">Đăng nhập</h2>
                <div class="mb-3">
                    <label for="sdt" class="form-label">Số điện thoại</label>
                    <input
                        type="text"
                        class="form-control"
                        id="sdt"
                        name="phone"
                        [(ngModel)]="phone"
                        placeholder="Nhập số điện thoại"
                    />
                    <p class="text-danger" *ngIf="phone.length < 9 && formLogin.form.touched">so dien thoai co it nhat 9 ki tu</p>
                </div>
                <div class="mb-3">
                    <label for="pass" class="form-label">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="pass"
                        name="password"
                        [(ngModel)]="password"
                        placeholder="Nhập ít nhất 6 ký tự"
                        required
                    />
                    <p class="text-danger" *ngIf="password.length < 6 && formLogin.form.touched">Mat khau can it nhat 6 ki tu</p>
                </div>
                <div class="mb-3 form-check">
                    <span style="display: flex">
                        <input
                        class="form-check-input"
                        type="checkbox"
                        id="remember"
                        [(ngModel)]="isLogin"
                        name="isLogin"
                        required
                    />
                        <label for="remember" class="form-label">Ghi nhớ tài khoản</label>
                    </span>
                </div>
                <button class="btn" (click)="login()">Login</button>
                <div class="footerLogin" style="margin-bottom: 20px;">
                    <a class="nav-login" style="float: left;" href="#">Quên mật khẩu</a>
                    <a class="nav-login" style="float: right;" [routerLink]="['/register']">Chưa có tài khoản</a>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
